{% include "base.html" %}

{% block main %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="en" />

  <title>{{comp_id}}-{{schema}}-{{metric_name}} Graph</title>

  <style>
    .ui-progressbar {
        position: fixed;
        top: 50%;
        left: 25%;
        opacity: .7;
    }
    .progress-label {
        position: absolute;
        left: 50%;
        top: 1px;
    }
  </style>
<script type="text/javascript">
var container = "{{container}}";
var comp_id = "{{comp_id}}";
var schema = "{{schema}}";
var metric_name = encodeURIComponent("{{metric_name}}");
var plot_start = "{{start}}";
plot_start = parseInt(plot_start);
var plot_cur_time = parseInt(plot_start);
var plot_duration = 3600;
var plot_end = plot_start + plot_duration
var plot_skip = plot_duration / 2;
var play_timer = 0;
var render_time = 0;
var render_start = 0;
var progress_time_default = 5000;
var progress_time = progress_time_default;
var progress_timeout = 0;

function update_img_src(start, duration) {
    var img = $("#metric_graph");
    //start = start/1000;
    var src="/plot/png?container=" + container
		+ "&schema=" + schema
        + "&comp_id=" + comp_id
        + "&metric_name=" + metric_name
        + "&start=" + start
        + "&duration=" + duration
    var img = $("#metric_graph");
	$.ajax({
		url: src,
		dataType: "json",
		success: function(obj){
			plot_cur_time = parseInt(obj.startTs);
            plot_end = parseInt(obj.lastTs);
            pStart = new Date(plot_cur_time*1000);
			$("#plot_start_time").val(pStart);
    		img.attr('src', '../../static/img/plot.png?'+ new Date().getTime());
		},
		error: function(xhr, status, err) {
			alert(err);
		}
	});
    //img.attr('src', src);
    render_start = new Date().getTime();
    if (render_time == 0)
        render_time = 2000;
    restart_progress(0);
}

function formatDate(aDate) {
    var str = aDate.getFullYear();
    var year = aDate.getFullYear(),
    mon = aDate.getMonth() + 1,
    day = aDate.getDate(),
    hour = aDate.getHours(),
    minute = aDate.getMinutes(),
    second = aDate.getSeconds();

    str = year;
    if (mon < 10)
        str += '/0' + mon;
    else
        str += '/' + mon;

    if (day < 10)
        str += '/0' + day;
    else
        str += '/' + day;

    str += ' ';

    if (hour < 10)
        str += '0' + hour;
    else
        str += hour;

    if (minute < 10)
        str += ':0' + minute;
    else
        str += ':' + minute;

    return str;
}

function advance_cur_time(skip) {
	plot_end = parseInt(plot_end);
    plot_cur_time += skip;
    /*if (plot_cur_time + plot_duration > plot_end)
        plot_cur_time = plot_end - plot_duration;
    if (plot_cur_time < plot_start)
        plot_cur_time = plot_start;*/
}

function update_plot_duration() {
    plot_skip = plot_duration / 2;
    progress_time = progress_time_default;
    render_time = 0;
}

var progressbar, progresslabel;

function progress() {
    var val = progressbar.progressbar( "value" ) || 0;
    progressbar.progressbar("value", val + 100);
    if (val < progress_time)
        setTimeout(progress, 100);
}

function restart_progress(wait) {
    progressbar.progressbar("value", 0);
    progressbar.progressbar("option", "max", progress_time);
    progress_timeout = setTimeout(progress, wait);
    $("#progressbar").show()
}

$(document).ready(function() {
    var start_date = new Date(parseInt(plot_cur_time*1000));
    var end_date = new Date(plot_end);
    var plot_hrs = plot_duration / 3600;

    render_start = new Date().getTime();
    update_plot_duration();

    $("#plot_duration").val(plot_hrs.toFixed(2));

    $("#begin").click(function() {
        if (play_timer != 0) {
            clearInterval(play_timer);
            play_timer = 0;
        }
        plot_cur_time = 0;
        update_img_src(plot_cur_time, plot_duration);
    });
	// Plots any available data for the current time
	// Could change to last data available
    $("#end").click(function() {
        if (play_timer != 0) {
            clearInterval(play_timer);
            play_timer = 0;
        }
        plot_cur_time = new Date();
        plot_cur_time = plot_cur_time.getTime();
        plot_cur_time = parseInt(plot_cur_time/1000);
        update_img_src(plot_cur_time, plot_duration);
    });
    $("#next").click(function() {
        if (play_timer != 0) {
            clearInterval(play_timer);
            play_timer = 0;
        }
        advance_cur_time(plot_skip);
        plot_cur_time = plot_cur_time
        update_img_src(plot_cur_time, plot_duration);
    });
    $("#prev").click(function() {
        if (play_timer != 0) {
            clearInterval(play_timer);
            play_timer = 0;
        }
        advance_cur_time(-plot_skip);
        plot_cur_time = plot_cur_time
        update_img_src(plot_cur_time, plot_duration);
    });
    /*
    $("#play").click(function() {
        if (play_timer != 0) {
            clearInterval(play_timer);
            play_timer = 0;
        }
        play_timer = setInterval(function() {
            advance_cur_time(plot_skip);
            update_img_src(plot_cur_time, plot_duration);
            if (plot_cur_time == plot_end - plot_duration) {
                clearInterval(play_timer);
                play_time = 0;
            }
        }, 5000);
    });*/
    $("#plot_start_time").datetimepicker({
        mask: '9999/19/39 29:59',
        timepicker: 'true',
        hmspicker: 'false',
        format : 'Y/m/d H:i',
        step : 30,
        value : start_date,
        onClose : function(time, el, event) {
            plot_start = Date.parse(el.val()) / 1000;
            update_img_src(plot_start, plot_duration);
        },
    });
    $("#plot_duration").val(plot_duration);
    $("#plot_duration").change(function() {
        plot_duration = parseInt(this.value);
        //update_plot_duration();
        //advance_cur_time(0);
        update_img_src(plot_cur_time, plot_duration);
    });

    /*
     * Keep track of how long it takes to load the image so we can
     * adjust the progress bar timing
     */
    $("#metric_graph").load(function() {
        var render_complete = new Date().getTime();
        render_time = render_complete - render_start;
        if (progress_timeout != 0) {
            clearTimeout(progress_timeout);
            progress_timeout = 0;
        }
        var max = progressbar.progressbar("option", "max");
        progressbar.progressbar("value", max);
        progress_time = render_time + 1000;
    });

    progressbar = $( "#progressbar" );
    progressLabel = $( ".progress-label" );
    progressbar.progressbar({
        value: false,
        change: function() {
            var pct = progressbar.progressbar("value") / progress_time * 100;
            progressLabel.text( pct.toFixed(0) + "%" );
        },
        complete: function() {
            progressLabel.text( "Complete!" );
            progressbar.hide();
        }
    });
    progressbar.height("1.25em");
    progressbar.width("20em");
    restart_progress(0)
    update_img_src(plot_cur_time, plot_duration)
});

</script>
</head>
<body>
  <div style="float:left;">
    <label for="plot_start_time" class="block_label">Start Time</label>
    <input type="text" id="plot_start_time" readonly></input>
  </div>
  <!-- <div style="float:left; margin-left:.5em;">
    <label for="plot_end_time" class="block_label">End Time</label>
    <input type="text" id="plot_end_time" readonly/>
  </div> -->
  <div style="float:left; margin-left:.5em;">
    <label for="plot_duration" class="block_label">Plot Duration</label>
    <select id="plot_duration">
      <option value="1800">00:30</option>
      <option value="3600">01:00</option>
      <option value="7200">02:00</option>
      <option value="14400">04:00</option>
      <option value="28800">08:00</option>
      <option value="57600">16:00</option>
      <option value="86400">24:00</option>
    </select>
  </div>
  <br style="clear:both"/>
  <!-- <div style="background-color: #cccccc; margin-top: .5em"> -->
  <div style="margin-top: .5em">
    <img style="z-image: -1;" id="metric_graph" src=""/>
  </div>
  <div>
    <div style="margin-top: .5em">
      <span>
        <button id="begin" type="button">Begin</button>
        <button id="prev" type="button">Prev</button>
        <!-- <button id="play" type="button">Play</button> -->
        <button id="next" type="button">Next</button>
        <button id="end" type="button">End</button>
      </span>
    </div>
    <div style="margin-top: .5em">
      <div id="progressbar"><vi class="progress-label">Analyzing...</div></div>
    </div>
  </div>
</body>
{% endblock %}
