*~
*.in
*.pyc
missing
install-sh
autom4te.cache
configure
build
db.sqlite3

balerd
balerd.cfg
balerd.log
comp_hist.txt
hdr.py
heatmap
heatpattern
host.list
log/
msg_browser
opie
ptn_browser
sosgui/baler_settings.py
store/
syslog.cfg
test.png
tkn_browser
