{% include "base.html" %}
{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock %}

{% block main %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="en" />

  <title>OVIS Job Viewer</title>


<style>
  #jobTableDiv {
      width: 60%;
      float: left;
      margin-top: 1em;
  }
  .toolbar {
      float: left;
      padding-left:1em;
  }
</style>
<script type="text/javascript">

function formatDate(aDate) {
    var str = aDate.getFullYear();
    var year = aDate.getFullYear(),
    mon = aDate.getMonth() + 1,
    day = aDate.getDate(),
    hour = aDate.getHours(),
    minute = aDate.getMinutes(),
    second = aDate.getSeconds();

    str = year;
    if (mon < 10)
        str += '/0' + mon;
    else
        str += '/' + mon;

    if (day < 10)
        str += '/0' + day;
    else
        str += '/' + day;

    str += ' ';

    if (hour < 10)
        str += '0' + hour;
    else
        str += hour;

    if (minute < 10)
        str += ':0' + minute;
    else
        str += ':' + minute;

    return str;
}

function timestr_to_timestamp(timestr) {
    var dt = timestr.split(' ');
    var aDate = dt[0].split('/');
    var aTime = dt[1].split(':');
    var msecs = new Date(aDate[0], aDate[1]-1, aDate[2],
                         aTime[0], aTime[1], aTime[2]);
    return msecs / 1000;
}

var graph_job_id, graph_name, graph_user_name, graph_start, graph_end;
function update_jobs(container, schema) {
    $("#jobTableDiv").empty();
    $("#jobTableDiv").append('<table id="jobTable" style="width: 100%" class="stripe hover order-column cell-border"></table>');
    $("#jobTable").prepend("<thead></thead>");
    $("thead", "#jobTable").append("<tr></tr>");
    $("tr","#jobTable").append('<th title="Click on a job to add a plot">Name</th>');
    $("tr","#jobTable").append('<th title="Click on a job to add a plot">User</th>');
    $("tr","#jobTable").append('<th title="Click on a job to add a plot">Start</th>');
    $("tr","#jobTable").append('<th title="Click on a job to add a plot">End</th>');
    $("tr","#jobTable").append('<th title="Click on a job to add a plot">Duration</th>');
    $("tr","#jobTable").append('<th title="Click on a job to add a plot">Id</th>');
    var dataSrc = "/sosdb/query?container=" + encodeURIComponent(container)
        + "&schema=Job"
        + "&index=StartTime"
        + "&where=StartTime:ge:" + tbl_start_time
        + ",EndTime:le:" + tbl_end_time;

    var columns = [
        {
            sName    : 'Name',
            mDataProp : 'JobName',
            sWidth : '10em',
            bSortable : true,
        },
        {
            sName    : 'User',
            mDataProp : 'UserName',
            bSearchable : true,
            bSortable : true,
        },
        {
            sName    : 'Start',
            mDataProp : 'StartTime',
            sWidth : '10em',
            bSortable : true,
        },
        {
            sName    : 'End',
            mDataProp : 'EndTime',
            sWidth : '10em',
        },
	{
	    sName    : 'Duration',
	    sWidth   : '5em',
	},
        {
            sName    : 'Id',
            mDataProp : 'Id',
            sWidth   : '4em'
        },
    ];
    var columnDefs = [
        { "aTargets" : [4],
          "mRender" : function(colData, type, rowData, meta) {
              if (type == "type")
                  return "html";
              else {
                  var dur = rowData.EndTime - rowData.StartTime;
                  return dur.toString() + "s";
              }
          }
        }
    ];
    jobTable = $("#jobTable").dataTable({
        "sDom": '<"toolbar"><"top"f>rt<"bottom"ip><"clear">',
        bAutoWidth : true,
        order : [ [ 0, 'asc' ] ],
        ordering : true,
        lengthChange : false,
        bFilter : true,
        processing : true,
        serverSide : true,
        sAjaxSource : dataSrc,
        sAjaxDataProp : "Job",
        scrollX : true,
        sScrollY : "23em",
        aoColumns : columns,
        aoColumnDefs : columnDefs
    });
    $("#jobTable").closest(".dataTables_wrapper").find("div.toolbar").html("<b>Jobs</b>");
    $("#jobTable tbody").delegate("tr", "click", function() {
	tableClick(jobTable, this);
    });
}

function tableClick(table, row) {
    /* Only allow one row to be selected at a time. */
    if ($(row).hasClass('selected')) {
        $(row).removeClass('selected');
    } else {
        table.$('tr.selected').removeClass('selected');
        $(row).addClass('selected');
    }
    /* Turn on the graph button if both a metric and a component are selected */
    var metric = metricTable.$('tr.selected');
    var jobs = jobTable.$('tr.selected');
    if (metric.length > 0 && jobs.length > 0)
	$(".graph-button").button("option", { disabled : false });
    else
	$(".graph-button").button("option", { disabled : true });
}

var tbl_start_time;
var tbl_end_time;

function update_container(container_el) {
    var cname = $("#containers").val();
    $.ajax({
        url: "/sosdb/schema",
        data: "container="+cname+"&schema=Sample",
        dataType: 'json',
        success: function (obj) {
            if (obj.error) {
                return alert("The container " + cname + " could not be opened.")
            }
            var metricData = new Array();
            /* Add all the attributes to the metricTable */
            for (var i = 0; i < obj.schema.attrs.length; i++) {
                attr = obj.schema.attrs[i];
                var metric = [ attr.name, attr.sos_type ];
                metricData[i] = metric;
                if (attr.name != "Time" && attr.name != "timestamp") {
                    continue;
                }
                /*
                 * SOS Timestamp is 32b (seconds) | 32b (microseconds)
                 */
                var aTime = parseInt(attr.min_key);
                /* Convert aTime to seconds */
                aTime = aTime / 1024 / 1024 / 1024 / 4;
                tbl_start_time = aTime;
                /* Convert aTime to milliseconds and construct a Date */
                aTime = aTime * 1000;
                var aDate = new Date(aTime);
                /* Initialize the start-time control */
                $('#job_start_time').datetimepicker({
                    mask: '9999/19/39 29:59',
                    timepicker : true,
                    hmspicker : false,
                    format : "Y/m/d H:i",
                    step : 30,
                    value : aDate,
                    onClose : function(time, el, event) {
                        var cname = $("#containers").val();
                        var sname = $("#schema").val();
                        tbl_start_time = Date.parse(el.val()) / 1000;
                        update_jobs(cname, 'Job');
                    },
                });
                var aDateStr = formatDate(aDate);
                $('#job_start_time').val(aDateStr);

                aTime = parseInt(attr.max_key);
                aTime = aTime / 1024 / 1024 / 1024 / 4;
                tbl_end_time = aTime;
                aDate = new Date(aTime * 1000);
                $('#job_end_time').datetimepicker({
                    mask: '9999/19/39 29:59',
                    timepicker : true,
                    hmspicker : false,
                    format : "Y/m/d H:i",
                    step : 30,
                    value : aDate,
                    onClose : function(time, el, event) {
                        var cname = $("#containers").val();
                        tbl_end_time = Date.parse(el.val()) / 1000;
                        update_jobs(cname, 'Job');
                    },
                });
                aDateStr = formatDate(aDate);
                $('#job_end_time').val(aDateStr);
                update_jobs(cname, 'Job');
            }
            metricTable.fnClearTable(false);
            metricTable.fnAddData(metricData, true);
            $("#metricTable tbody").delegate("tr", "click", function() {
		tableClick(metricTable, this);
            });
        },
        error: function (xhr, desc, er) {
            alert(xhr.responseText);
        }
    });
}

var userTable, jobTable, metricTable;

$(document).ready( function() {
    $.ajax({
        url: "/sosdb/directory",
        dataType: 'json',
        success: function (obj) {
            var i, o;
            if (obj.error) {
                return alert(obj.error);
            }
            $("#containers option").remove();
            for (i = 0; i < obj.directory.length; i++) {
                o = document.createElement("OPTION");
                o.value = obj.directory[i].name;
                o.text = obj.directory[i].name;
                o.obj = obj;
                $("#containers").append($(o).clone());
            }
            var idxOpts = $("#containers option");
            idxOpts.sort(function(a,b) {
                if (a.label < b.label)
                    return -1;
                else if (a.label == b.label)
                    return 0;
                return 1;
            });
            $("#containers").empty().append(idxOpts);
            if ($("#containers").length > 0) {
                $("#containers option:first-child").attr("selected","selected");
                update_container();
            }
        }
    });
    $( document ).tooltip({
        position: {
            my: "center bottom-20",
            at: "center top",
            using: function( position, feedback ) {
                $( this ).css( position );
                $( "<div>" )
                    .addClass( "arrow" )
                    .addClass( feedback.vertical )
                    .addClass( feedback.horizontal )
                    .appendTo( this );
            }
        }
    });
    var aaData = new Array();
    metricTable = $("#metricTable").dataTable({
        "sDom": '<"toolbar"><"top"f>rt<"bottom"l><"clear">',
        paging : false,
        bAutoWidth : true,
        order : [ [ 0, 'asc' ] ],
        ordering : true,
        lengthChange: false,
        sScrollY : "23em",
        processing : true,
        aaData : aaData,
        aoColumns: [
            { sTitle : "Name", bSortable : true },
            { sTitle : "Type", bSortable : false }
        ],
    }).on('draw.dt', function() {
    });
    $("#metricTable").closest(".dataTables_wrapper")     // search this datatable
                   .find("div.toolbar")                // for its toolbar
                   .html("<b>Job Metrics</b>");
    $("#add-graph-btn").button({ "disabled" : true }).on("click", function(event) {
        add_graph();
    });
});

function add_graph() {
    var schema = "Sample";
    var jobRow = jobTable.$('.selected')[0];
    var jobRowData  = jobTable.DataTable().row(jobRow).data();
    var graph_start = Math.round(jobRowData.StartTime);
    var graph_end = Math.round(jobRowData.EndTime);
    var job_id = parseInt(jobRowData.Id);
    var metricRow = metricTable.$('.selected')[0];
    var metricRowData =  metricTable.DataTable().row(metricRow).data();
    var metric_name = metricRowData[0];

    /* Add a new graph */
    var duration = 3600;
    var url = "/plot/job?&container="
        + encodeURIComponent($("#containers").val())
	+ "&schema=" + schema
        + "&job_id=" + job_id
        + "&metric_name=" + encodeURIComponent(metric_name)
        + "&start=" + graph_start
        + "&end=" + graph_end
        + "&timezone=" + encodeURIComponent($("#timezone").val());
    window.open(url, "Binkus", "width=850px, height=320px, modal=yes");
}

</script>

</head>
<body>
  <div id="main">
    <div style="margin-top: .5em">
      <div style="float:left;">
        <label for="containers"
               class="block_label" title="Select the container">Container
        </label>
        <select name="containers" style="width: 14em"
                id="containers"></select>
      </div>
      <div style="float:left; margin-left:.5em;">
        <label for="job_start_time" class="block_label"
               title="Select the job start time">Jobs starting
        </label>
        <input type="text" id="job_start_time"/>
      </div>
      <div style="float:left; margin-left:.5em;">
        <label for="job_end_time" class="block_label"
               title="Select the Job end time">and ending
        </label>
        <input type="text" id="job_end_time"/>
      </div>
      <div style="float:left; margin-left:.5em;">
        <label for="timezone" class="block_label">Timezone</label>
        <select id="timezone">
            <option value=-7>Pacific</option>
            <option value=-6>Moutain</option>
            <option value=-5>Central</option>
            <option value=-4>East Coast</option>
        </select>
      </div>
    </div>
    <br style="clear:both"/>
    <div id="jobTableDiv">
      <table id="jobTable" class="display"></table>
    </div>
    <div id="metricTableDiv" style="float: left; margin-top: 1em; width: 40%;">
      <table id="metricTable" class="display">
        <thead>
          <tr>
            <th title="Click on a row to include a metric in the plot">Name</th>
            <th title="Click on a row to include a metric in the plot">Type</th>
          </tr>
        </thead>
      </table>
    </div>
    <br style="clear: both"/>
    <div style="margin-top: 1em;">
      <button type="button" id="add-graph-btn" class="graph-button">Add Graph</button>
    </div>
  </div>
</body>
{% endblock %}
